<div class="m-5">
<%= form_with model: @todo, local: true do |f| %>
  <%= f.label :description, "Homework's description:" %> <br>
  <%= f.text_area :description %> <br>
  <%= f.label :completed, "Is completed?" %>
  <%= f.check_box :completed %> <br><br>
  <%= f.submit "Save" %>
<% end %>
</div>